# Replace with a secure key
jwt.secret=YOUR_SECRET_KEY_HERE

# Token Expiration Time (in milliseconds)
jwt.expiration=86400000

# Refresh Token Expiration Time (in milliseconds)
jwt.refresh.expiration=604800000